name: Build clang-latest (Linux)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  setup-cmake:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      issues: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone
        shell: bash
        run: |
          git clone https://github.com/llvm/llvm-project.git
          
      - name: Configure
        shell: bash
        run: |
          cd llvm-project
          mkdir build && cd build

          cmake -G Ninja ../llvm \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_ENABLE_PROJECTS="clang;lld" \
            -DLLVM_TARGETS_TO_BUILD="X86" \
            -DCMAKE_INSTALL_PREFIX="$PWD/install" \
            -DLLVM_ENABLE_ASSERTIONS=OFF

      - name: Build
        shell: bash
        run: |
          cd llvm-project/build
          ninja clang

      - name: Install
        shell: bash
        run: |
          cd llvm-project/build
          ninja install
          
          mkdir -p 'install/include/c++/v1'
          cp -a '../libcxx/include/.' 'install/include/c++/v1/'

      - name: Create Release Archive
        shell: bash
        run: |
          cd llvm-project/build
          mv install "LLVM-22.git-Linux-X64"
          tar --warning=no-file-changed -cf - LLVM-22.git-Linux-X64/bin LLVM-22.git-Linux-X64/lib LLVM-22.git-Linux-X64/include LLVM-22.git-Linux-X64/libexec LLVM-22.git-Linux-X64/share \
            | xz -9e -T0 > linux_x64.tar.xz
          mv linux_x64.tar.xz "$GITHUB_WORKSPACE/"

      - name: Generate nightly tag description
        shell: bash
        run:   |
          printf "Pre-built binaries for the latest version of clang." > tag_text.txt

      - name: Compute build‐tag as today’s date
        id: get_date
        shell: bash
        run: |
          echo "date=$(TZ='Europe/Berlin' date +%F)" >> $GITHUB_OUTPUT
          
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: "pragma-deps-lib"
          
      - name: Create Tag
        uses: Silverlan/common_actions/create_tag@main
        with:
          tag_name: "${{ steps.get_date.outputs.date }}"
          path: "pragma-deps-lib"

      - name: Update nightly tag description
        uses: softprops/action-gh-release@v0.1.15
        with:
          body_path: tag_text.txt
          tag_name: "${{ steps.get_date.outputs.date }}"
          target_commitish: ${{ github.sha }}
          prerelease: true

      - name: Update nightly release
        uses: pyTooling/Actions/releaser/composite@v4.2.2
        with:
          tag: "${{ steps.get_date.outputs.date }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          files: "linux_x64.tar.xz"
